.usersPageContainer {
    display: grid;
    text-align: center;
    border: 2px solid #cbcaca;
    border-radius: 1rem;
    padding: 0 10px 10px 10px;
    background-color: #fcfcfc;
    gap: 3rem;
}

.usersPageTitleBlock {
    border-bottom: 5px solid #3f51b5;
}

.usersBlock {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 1rem;
}

.usersContainerProfilePage {
    display: grid;
    text-align: center;
    border-radius: 1rem;
    padding: 0 10px 10px 10px;
    background-color: #fcfcfc;
    gap: 3rem;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
}

.usersBlockProfilePage {
    display: flex;
    flex-direction: column;
    height: 60rem;
    overflow-y: scroll;
    scroll-margin: 1rem;
    gap: 1rem;
    border-radius: 1rem;
    /*box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);*/
}