.dialogsPageContainer {
    margin-top: 20px
}

.usersBlock {
    border-right: 2px solid lightgray;
}

.messagesBlock {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-left: 30px;
}

.sendMessageBtn {
    display: flex;
    flex-direction: column;
}

.messagesTextArea {
    width: 100%;
    height: 5rem;
}