.profileDropBlock {
    position: absolute;
    width: 14rem;
    top: 3rem;
    right: 0;
    background-color: #f6f6f6;
    box-shadow: 0 20px 40px 0 rgb(0 0 0 / 30%);
    border-top: 2px solid #e7e9ee;
    border-radius: 0 0 1rem 1rem;
    padding: 0 0 0.5rem 0;
}

.profileDropBlock li {
    display: flex;
    align-items: center;
    height: 2.5rem;
    padding: 0 1rem 0 1rem;
}

.profileDropBlock li i {
    margin-right: 0.4rem;
    color: #3f88b5;
}

.profileDropBlock li:hover {
    cursor: pointer;
    background-color: #e7e9ee;
}
