.inputBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 1rem;
}

.searchInput {
    border: none;
    background-color: #e7e9ee;
    outline: none;
    line-height: 2rem;
    width: 14rem;
    height: 2rem;
    border-radius: 0.5rem;
    padding-left: 2rem;
}

.searchIcon {
    position: relative;
    color: #949292;
    left: 1.5rem;
}

.selectBlock {
    margin-left: 0.5rem;
}