.navBlock {
    display: flex;
    justify-content: space-between;
}

.navLinksBlock {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navNotification {
    display: flex;
    align-items: center;
    padding: 0 0.7rem 0 0.7rem;
    height: 100%;
    color: #707073;
}

.navMusic {
    display: flex;
    align-items: center;
    padding: 0 0.7rem 0 0.7rem;
    height: 100%;
    color: #707073;
}

.navNotification:hover,
.navMusic:hover {
    cursor: pointer;
    background-color: #e7e9ee;
}
