
.navContainer {
    margin-bottom: 20px;
}

.navLinks {
    display: grid;
    grid-template-columns: 0.2fr repeat(5, 0.8fr);
    grid-template-rows: 1fr;
    margin: 0;
    font-size: 18px;
    background-color: #e9e6e6;
    border-radius: 15px;
    border: 2px solid #cbcaca;
    padding: 5px;
}

.nav-list li {
    background: #e9e6e6;
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.link {
    text-decoration: none;
    color: black;
}

.navLinks li:hover {

    font-weight: bolder;
}

.nav-list:last-child {
    /*padding:5px*/
}

.navLogo {
    width: 40px;
    height: 40px;
}

.nav-list li:hover {
    color: #FFFFFF;
    background: linear-gradient(90deg, rgb(33, 74, 133) 50%, rgb(72, 72, 212) 100%);
    cursor: pointer;
    border-radius: 10px;
}

@media (max-width: 1000px) {

    .nav-list {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .nav-list li {
        display: flex;
        justify-content: center;
        border-top: 2px solid #e2e2e2;
    }

    .nav-list:last-child {
        border-radius: 5px;
    }

    .bal-logo {
        margin: 5px;
    }
}