.profilePageWrapper {
    display: grid;
    grid-template-columns: fit-content(100%) auto 14rem;
    grid-template-rows: fit-content(100%) 1fr;
    grid-template-areas:
"profileImg profileInfo users"
"friends posts users";
    grid-gap: 1rem;
    width: 60rem;
}

.profileImageWrapper {
    grid-area: profileImg;
}

.profileInfoWrapper {
    grid-area: profileInfo;
    width: 100%;
}

.usersWrapper {
    grid-area: users;
}

.postsWrapper {
    grid-area: posts;
}

/*.friendsWrapper {*/
/*    grid-area: friends;*/
/*    background-color: #8d1010;*/
/*}*/
