.chatContainer {
    position: absolute;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 3rem;
    width: 25rem;
    background-color: #e7e9ee;
    border-radius: 1rem;
    border: 3px solid #3f51b5;;
    box-shadow: 0 0 20px 0 rgb(0 0 0 / 20%);
    z-index: 1;
}

/*Navbar messages icon*/

.iconBlock {
    position: relative;
}

.navMessagesBlock {
    position: relative;
    display: flex;
    align-items: center;
    padding: 0 0.7rem 0 0.7rem;
    height: 100%;
    color: #707073;
}

.newMessageNotification {
    position: absolute;
    padding: 0 5px 0 5px;
    bottom: 1.4rem;
    left: 1.4rem;
    font-size: 1rem;
    font-weight: bolder;
    border-radius: 1rem;
    border: 2px solid black;
    color: white;
    background-color: red;
}

.navMessagesBlock:hover {
    cursor: pointer;
    background-color: #e7e9ee;
}

/*Messages*/

.messagesContainer {
    width: 100%;
    height: 25rem;
    padding-left: 1rem;
    overflow: auto;
    scroll-behavior: smooth;
    background-color: #fcfcfc;
}

.messageWrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.messageWrapper:not(:last-child) {
    border-bottom: 2px solid #949292;
}

.userWrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

.messageAvatar {
    width: 40px;
    height: 40px;
    border-radius: 2rem;
    margin-right: 1rem;

}

.messageUser {
    font-size: 1.2em;
    font-weight: 600;
}

.messageText {
    word-break: break-all;
    font-size: 1em;
}

/*Send message form*/

.messageFormBlock {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
    padding: 1rem;
    width: 100%;
}

.textField {
    background-color: #f6f6f6;
}